body {
  padding-top: 60px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.toast-top-right {
  top: 65px;
}
footer p {
  color: #c2c2c2;
  border-top: 1px solid #c2c2c2;
  padding-top: 10px;
}
