div(ng-repeat="course in courses | orderBy: '-published' | limitTo: 10")
    .row
        .col-md-3(ng-bind="course.published | date: 'MMM d'")
        .col-md-9
            a(href="/courses/{{course._id}}", ng-bind="course.title")